.row {
  margin-left: 20px;
  color: #fff;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  margin-right: 10px;
  position: relative;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge:hover {
  transform: scale(1.11);
}

.row_poster img {
  object-fit: contain;
  width: 13rem;
  margin-left: 10px;
  max-height: 180px;
  transition: transform 450ms;
}

.row_posterLarge img {
  max-height: 290px;
}

.fontIcon {
  top: 35%;
  right: 35%;
}

@media only screen and (max-width: 600px) {
  /* CSS rules for extra small devices */

  .fontIcon {
    top: 40%;
    right: 17%;
  }
}
