.faq {
  background-color: black;
  color: #fff;
  min-height: 62rem;
  max-height: 90rem;
  overflow: auto;
}

.faqHeading {
  margin-top: 0px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 3.1rem;
  font-weight: 900;
  text-align: center;
}

.faqdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 57, 57);
  width: 70%;
  margin: auto;
  height: 5.3rem;
  margin-bottom: 13px;
}
.faqdes {
  background-color: rgb(61, 57, 57);
  width: 70%;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 13px;
  padding: 22px;
  margin-top: 10px;
}
.faqdiv:hover {
  background-color: rgb(84, 78, 78);
}
.faqIcon {
  margin-right: 25px;
}
.faqpara {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 0.5rem;
  padding: 22px;
  margin-top: 10px;
}
