.firstSection {
  height: 35rem;
  background-color: black;
  color: #ffffff;
}

.first {
  align-items: center;
  display: flex;
}

.tv {
  position: relative;
  margin-top: 25px;
  margin-left: 170px;
  width: 65%;
  z-index: 2;
}

.tv_video {
  position: absolute;
  margin-top: 90px;
  margin-left: 238px;
  top: 0;
  left: 0;
  width: 48%;
}

.tv_video2 {
  position: absolute;
  margin-top: 60px;
  margin-left: 263px;
  top: 0;
  left: 0;
  width: 40%;
}

.firstHead {
  font-size: 3.1rem;
  font-weight: 900;
  margin-top: 0;
}

.firstDiv {
  position: relative;
  top: 4rem;
  left: 10rem;
  width: 700px;
}

.firstPara {
  font-size: 1.4rem;
  font-weight: 500;
}
