.MainContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.MainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./bg1.jpg");
  filter: brightness(40%);
  z-index: -1;
}
