/* .header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 175px;
    background-image: url("./bg.jpg");
    filter:brightness(50%);
  
} */
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 175px;
  position: relative;
}
/* .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./bg1.jpg");
  filter: brightness(30%);
  z-index: -1;
} */
.main {
  display: flex;
}
.logo {
  width: 220px;
}
.divsign {
  background-color: #e50914;
  border-radius: 4px;
  line-height: 24px;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100px;
  margin-top: 41px;
  text-decoration: none !important; /* Removes underline */
}
.divsign:focus {
  outline: none !important;
}
.divsign:hover {
  background-color: #a7161d;
}

/* .sec {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 24px;
  margin-top: 41px;
} */

.signin {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-color: #df2e37;
  text-decoration: none !important; /* Removes underline */
  color: white; /* Changes color to white */
}

.signin:focus {
  outline: none !important;
}

/* .fav {
  margin-right: 10px;
} */
/* .box {
  width: 100px;
  height: 30px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
} */
.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive CSS */

@media only screen and (max-width: 1024px) {
  .header {
    margin: 0 7px; /* Adjusted margin for smaller screens */
  }

  .logo {
    width: 140px;
    margin-top: 25px;
  }

  .divsign {
    margin-top: 3rem;
    line-height: 12px;
    width: 3.9rem;

    height: 40px;
  }
}
/* @media only screen and (max-width: 1024px) {
  .logo {
    width: 140px;
    margin-top: 25px;
  }
} */
